{% extends 'base.html' %}
{% block title %}<title>whatthehekkist | Chart Visualization</title>{% endblock %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<style>
    .chart-container {
        width: 100%;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
        padding: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    }
    .toggle-btn {
        display:none;
        margin: 10px 0;
        padding: 10px;
        cursor: pointer;
        background-color: #9aa6b3;
        color: white;
        border: none;
        border-radius: 5px;
    }
    @media (max-width: 768px) {
        .chart-container {
            max-width: 100%;
        }
    }
</style>

<div class="text-center">
    <h2 class="mb-5">Genre Distribution</h2>

    <div class="chart-row">
        <div class="chart-container">
             {% include 'loading.html' %}
            <div class="chart-label"><h5>Popular Genre Distribution</h5></div>
            <button class="toggle-btn" onclick="toggleChart('popGenreChart', this)">Switch to Bar Chart</button>
            <canvas id="popGenreChart">{% include 'loading.html' %}</canvas>
        </div>
        <div class="chart-container">
            <div class="chart-label"><h5>Customer Genre Distribution</h5></div>
            <button class="toggle-btn" onclick="toggleChart('custGenreChart', this)">Switch to Bar Chart</button>
            <canvas id="custGenreChart"></canvas>
        </div>
    </div>

    <div class="chart-row">
        <div class="chart-container">
            <div class="chart-label"><h5>SVD Genre Distribution</h5></div>
            <button class="toggle-btn" onclick="toggleChart('svdGenreChart', this)">Switch to Bar Chart</button>
            <canvas id="svdGenreChart"></canvas>
        </div>
        <div class="chart-container">
            <div class="chart-label"><h5>NMF Genre Distribution</h5></div>
            <button class="toggle-btn" onclick="toggleChart('nmfGenreChart', this)">Switch to Bar Chart</button>
            <canvas id="nmfGenreChart"></canvas>
        </div>
        <div class="chart-container">
            <div class="chart-label"><h5>Matrix Factorization Genre Distribution</h5></div>
            <button class="toggle-btn" onclick="toggleChart('mfGenreChart', this)">Switch to Bar Chart</button>
            <canvas id="mfGenreChart"></canvas>
        </div>
    </div>

    <div style="height: 10vh;"></div>
</div>
<script>

    // FIXME: for bar chart, legend goes undefined.

    const labels = ['Action', 'Comedy', 'Drama', 'Horror', 'Romance'];

    // chart data obj
    let genreCharts = {};

    // chart type obj
    let chartTypes = {
        // defaults to pie initially
        popGenreChart: 'pie',
        custGenreChart: 'pie',
        svdGenreChart: 'pie',
        nmfGenreChart: 'pie',
        mfGenreChart: 'pie'
    };

    let cachedData = {}; // for data caching

    // function for requesting to server
    async function fetchData(url) {
        const response = await fetch(url);
        return response.json();
    }

    // function for chart label alignment
    function alignDataWithLabels(data) {
        return labels.map(label => data[label] || 0);
    }

    /***
    * function that prepares and draws chart
    * @param chartId: one of popGenreChart, custGenreChart, svdGenreChart, nmfGenreChart, mfGenreChart
    * @param genreData: data to draw
    * @param type: pie or bar
    */
    function drawChart(chartId, genreData, type) {
        const ctx = document.getElementById(chartId).getContext('2d');
        const alignedData = alignDataWithLabels(genreData);

        // check if data label exists
        if (alignedData.length === 0 || alignedData.every(num => num === 0)) {
            console.warn('NO DATA LABEL FOUND.');
            return; // force early return
        }

        // chart data has been drawn at least once
        if (genreCharts[chartId]) {

            // console.log(chartId);
            console.log(`prev ${chartId} destroyed and re-drawn it as ${type} chart successfully`);
            genreCharts[chartId].destroy(); // destroy the existing chart of current data
        }

        // console.log(type);
        console.log(labels);
        console.log(alignedData);

        // chart drawer
        genreCharts[chartId] = new Chart(ctx, {
            type: type,
            data: {
                labels: labels,
                datasets: [{
                    data: alignedData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                skipNull: true,
                responsive: true,
                plugins: {
                    legend: {
                        display: type === 'bar' ? false : true, // hide legend if bar
                        // display: true,
                        // position: 'top',
                    },
                    datalabels: {
                        color: '#000',
                        formatter: (value, context) => {
                            if (value > 0) {
                                return context.chart.data.labels[context.dataIndex];
                            }
                            return ''; // return '' if value is 0
                        },
                        font: {
                            size: 14,
                            weight: 'bold',
                        },
                        textAlign: 'center',
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    }

    // function that toggles chart type
    function toggleChart(chartId, button) {

        chartTypes[chartId] = chartTypes[chartId] === 'pie' ? 'bar' : 'pie';

        // check if cached data exists
        if (cachedData[chartId]) {
            drawChart(chartId, cachedData[chartId], chartTypes[chartId]);
            button.textContent = chartTypes[chartId] === 'pie' ? 'Switch to Bar Chart' : 'Switch to Pie Chart';

        } else { // cached data does not exist, request data to server

            const urls = {
                'popGenreChart': '{% url "chart:pop_chart" %}',
                'custGenreChart': '{% url "chart:cust_chart" %}',
                'svdGenreChart': '{% url "chart:svd_chart" %}',
                'nmfGenreChart': '{% url "chart:nmf_chart" %}',
                'mfGenreChart': '{% url "chart:mf_chart" %}'
            };

            // req data to server
            fetchData(urls[chartId]).then(data => {
                cachedData[chartId] = data; // store current data fetched to cachedData[chartId]
                drawChart(chartId, data, chartTypes[chartId]);
                button.textContent = chartTypes[chartId] === 'pie' ? 'Switch to Bar Chart' : 'Switch to Pie Chart';
            }).catch(error => {
                console.error('Error fetching data:', error);
            });
        }
    }

    // function that initializes chart
    async function initCharts() {

        // [NOT IN USE] this is ALT
        {% if not user.is_authenticated %}
            console.log("user authentication failed unexpectedly..redirect to /");
            window.location.href = '/';
        {% endif %}

        // promise each data fetch
        const dataPromises = [
            fetchData('{% url "chart:pop_chart" %}'),
            fetchData('{% url "chart:cust_chart" %}'),
            fetchData('{% url "chart:svd_chart" %}'),
            fetchData('{% url "chart:nmf_chart" %}'),
            fetchData('{% url "chart:mf_chart" %}')
        ];

        // init each data (array destruction)
        const [popData, custData, svdData, nmfData, mfData] = await Promise.all(dataPromises);

        // cache each data
        cachedData['popGenreChart'] = popData;
        cachedData['custGenreChart'] = custData;
        cachedData['svdGenreChart'] = svdData;
        cachedData['nmfGenreChart'] = nmfData;
        cachedData['mfGenreChart'] = mfData;

        const type = 'pie'; // set chart type to pie by default

        // draw chart using each data
        drawChart('popGenreChart', popData, type);
        drawChart('custGenreChart', custData, type);
        drawChart('svdGenreChart', svdData, type);
        drawChart('nmfGenreChart', nmfData, type);
        drawChart('mfGenreChart', mfData, type);

        $('.toggle-btn').show();
        $('.loader-wrapper').hide();
    }

    // call initCharts on DOM load
    document.addEventListener('DOMContentLoaded', initCharts);

</script>
{% endblock %}
