<style>
    .list-inline {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top fixed-top jumbotron table-hover"
     style="opacity: 0.75;"
>

    <ul class="list-inline mx-auto">
        <li class="list-inline-item">
            <a href="{% url 'main' %}" class="btn btn-lg btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                </svg>
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="list-inline-item">
                <a href="/account/logout"
                   class="btn btn-lg btn-light"
                >
                    Logout
                </a>
            </li>
        {% else %}
            <li class="list-inline-item">
                <a href="{% url 'account:login' %}"
                   class="btn btn-lg btn-light"
                >
                    Login
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'account:signup' %}"
                   class="btn btn-lg btn-light"
                >
                    Sign Up
                </a>
            </li>
        {% endif %}
    </ul>

</nav>

